<header>
<h1><a href="../../">Sklep Ropuszka</a></h1>
</header>
<%- include("nav_categories.ejs", {className: "small"}) %>
<section>
<h2><%= category %></h2>
<ul>
    <% for(var i=0; i<products.length; i++) {%>
       <li>
           <span class='product'><%= products[i][1] %></span> —
           <span class='price'><%= products[i][0] %></span>
       </li>
    <% } %>
</ul>
<form method="post">
    <p>
        <span>Product: </span><input name='product'  required='required' />
    </p>
    <p>
        <span>Cena: </span><input name='price'  required='required' />
    </p>
    <p>
        <input type='submit' value="Dodaj produkt" />
    </p>
</form>
</section>

